body{
    background: #262e3a;
}
.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
    margin-right: 0 !important;

}

.items {
    height: 12rem;
}

body {
    min-width: 349px;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
}

.btn svg {
    margin-right: 5px;
}

.btn p {
    margin: 0;
}

.card img {
    max-width: 100px;
}

.card {
    max-width: 12rem;
    max-height: 20rem;
}

.anuncio {
    width: 100vw;
    height: 30vh;
}

a {
    text-decoration: none;
}

