body {
    background: #262e3a !important;
    min-width: 349px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
    margin-right: 0 !important;
}

.items {
    height: 12rem !important;
}

.carousel-item img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.centrar {
    margin: 0 auto !important;
}

.btn {
    display: flex !important;
    align-items: center !important;
}

.btn svg {
    margin-right: 5px !important;
}

.btn p {
    margin: 0 !important;
}

.card img {
    max-width: 100px !important;
    width: 22vw !important;
    height: 18vh !important;
}

.card {
    max-width: 12rem !important;
    max-height: 20rem !important;
    transition: box-shadow 0.2s ease !important;
    background-color: #596B88 !important;
    color: white !important;
    border-radius: 0.5rem !important;
    cursor: pointer !important;
    width: 33vw !important;
    height: 25vh !important;
}

.anuncio {
    width: 100vw !important;
    height: 30vh !important;
}

a {
    text-decoration: none !important;
}

.card:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.3) !important;
}

.bg-dark {
    background-color: #181E25 !important;
}
