body{
    background: #262e3a;
}
.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
    margin-right: 0 !important;

}

.items {
    height: 12rem;
}

body {
    min-width: 349px;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrar {
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
}

.btn svg {
    margin-right: 5px;
}

.btn p {
    margin: 0;
}

.card img {
    max-width: 100px;
    width: 22vw;
    height: 18vh;
}

.card {
    max-width: 12rem;
    max-height: 20rem;
}

.anuncio {
    width: 100vw;
    height: 30vh;
}

a {
    text-decoration: none;
}

.card{
    transition: box-shadow 0.2s ease;
    background-color: #596B88;
    color: white;

    border-radius: 0.5rem;

    cursor: pointer;

    width: 33vw;
    height: 25vh;
}


.card:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.3);
}

.bg-dark {
    background-color: #181E25 !important;
}