{% extends 'tienda/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'tienda/'%}css/style_carrito.css" />
{% endblock css %}


{% block contenido %}
<div class="container-fluid text-light p-3 mt-5">
    <div class="row mt-3">
        <div class="col-lg-8 ">
            <h2>Carrito de Compras</h2>
            <br>
            <div class="scrollable-div carrito" data-bs-spy="scrollSpy">
                {% for detalle in detalles %}
                <div class='row mb-2'>
                    <hr>
                    <div class='col-md-3'>
                        <img src='{{ detalle.producto.imagen }}' alt='Product Image' class='img-fluid'>
                    </div>
                    <div class='col-md-9'>
                        <h5>Producto: {{ detalle.producto.nombre }}</h5>
                        <p>Precio: $<span class='precio'>{{ detalle.producto.precio }}</span></p>
                        <p>Cantidad: {{ detalle.cantidad }}</p>
                        <form method="POST" action="{% url 'eliminar_dcarrito' detalle.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4">
            <h2>Total de Compra</h2>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <h4>Total:</h4>
                <h4 id="total">${{ total }}</h4>
            </div>
            <a href="{% url 'finalizar_compra' %}">
                {% if request.user.is_authenticated %}
                <button class="btn btn-success btn-block mt-3" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Comprar</button>
                {% else  %}
                <button class="btn btn-success btn-block mt-3">Comprar</button>
                {% endif %}
            </a>
            <a href="{% url 'producto' %}"><button class="btn btn-secondary btn-block mt-3">Seguir
                    Comprando</button></a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Compra</h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Su compra se ha realizado con éxito
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Ir a mis pedidos</button>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block javascript %}
<script src="{% static 'tienda/'%}js/carrito.js"></script>
{% endblock javascript %}