{% extends 'tienda/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'tienda/'%}css/style_perfil.css" />
{% endblock css %}


{% block contenido %}
<!-- cuerpo  -->
<br>
<br>
<main class="container">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class=" card-dark text-center pt-5" style="width: 18rem;">
        <img src="{% static 'tienda/'%}img/user.jpg" class="card-img-top mx-auto d-block" alt="imagen_usuario">
        <div class="card-body">
          <h5 class="card-title text-light pt-2">Usuario</h5>
          <p class="card-text text-light"></p>
          <a href="#" class="btn btn-primary pt-2">Editar perfil</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <nav>
        <div class="nav nav-tabs justify-content-center pt-5" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-shopping-tab" data-bs-toggle="tab" data-bs-target="#nav-shopping"
            type="button" role="tab" aria-controls="nav-shopping" aria-selected="true">Mis compras</button>
          <button class="nav-link" id="nav-orders-tab" data-bs-toggle="tab" data-bs-target="#nav-orders" type="button"
            role="tab" aria-controls="nav-orders" aria-selected="false">Pedidos</button>
          <button class="nav-link" id="nav-ratings-tab" data-bs-toggle="tab" data-bs-target="#nav-ratings" type="button"
            role="tab" aria-controls="nav-ratings" aria-selected="false">Calificaciones</button>
        </div>
      </nav>
      <!-- div para las compras realizadas -->
      <div class="tab-content pt-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-shopping" role="tabpanel" aria-labelledby="nav-shopping-tab">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body scrollable">
                  {% if boletas %}
                      {% for boleta, detalles in boletas.items %}
                        <hr>
                          <h5 class="card-title">Detalles de la boleta {{ boleta.id_boleta }}:</h5>
                          {% if detalles %}
                              <ul>
                                  <table>
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>Producto</th>
                                              <th>Valor unitario</th>
                                              <th>Cantidad</th>
                                              <th>Total</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          {% for detalle in detalles %}
                                              <tr>
                                                  <td><img src="{{ detalle.imagen }}" alt="{{ detalle.nombre }}" width="100"></td>
                                                  <td>{{ detalle.nombre }}</td>
                                                  <td>${{ detalle.valor_unitario }}</td>
                                                  <td>{{ detalle.cantidad }}</td>
                                                  <td>${{ detalle.total }}</td>
                                              </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                              </ul>
                              <p>Total de la boleta: ${{ boleta.monto }}</p>
                          {% else %}
                              <p>No hay detalles disponibles para esta boleta.</p>
                          {% endif %}
                      {% endfor %}
                  {% else %}
                      <h5 class="card-title">No posees compras</h5>
                      <p class="card-text"><small class="text-light">Última actualización hace un momento</small></p>
                  {% endif %}
              </div>
              
              </div>
            </div>
          </div>
        </div>
        <!-- div para los pedidos -->
        <div class="tab-pane fade Lista" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">


        </div>

        <!-- modal para confirmar cancelacion -->
        <div class="modal" tabindex="-1" id="modalCancelar">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Cancelar pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Esta seguro que desea cancelar su pedido?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger CancelarPed" data-bs-dismiss="modal"
                  id="botonCancelar">Cancelar Pedido</button>
              </div>
            </div>
          </div>
        </div>
        <!-- div para las calificaciones -->
        <div class="tab-pane fade" id="nav-ratings" role="tabpanel" aria-labelledby="nav-ratings-tab">
          <div class="card">
            <div class="card-body">
              <h2 class="text-center">Iphone 15 Pro Max</h2>
              <div class="row pt-3">
                <div class="col-6">
                  <img src="{% static 'tienda/'%}img/ipo.png " alt="" id="iphone">
                </div>
                <div class="col-6">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-block Calificar" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Calificar
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-dark" id="staticBackdropLabel">Calificar</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <input type="text" class="form-control" placeholder="Opinion...">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
</main>
<!-- scripts -->
{% endblock %}
{% block javascript %}
<script src="{% static 'tienda/'%}js/perfil.js"></script>
{% endblock %}